*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo img {
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    height: auto;
    padding-top: .4%;
    padding-bottom: 1%;
}

header {
    padding-top: 2%;
    text-align: center;
}

body {
    background: #f6f5f0;
}

.nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-radius: 30px;
    margin-left: 16%;
    margin-right: 16%;
    align-items: center;
    overflow: auto;
    padding-top: 1.5%;
}

.nav li {
    list-style-type: none;
}

.nav a {
    display: inline-block;
    padding: 25px;
    margin: 0 20px;
    text-align: center;
    text-decoration: none;
    color: #2d2d2b;
    font-weight: 7000;
    font-size: 1.2em;
    font-family: 'Josefin Sans';
}

.nav a:hover {
    text-decoration: underline solid #c3939e;
    text-decoration-thickness: 2px;
    -webkit-text-decoration: underline solid #c3939e;
    -webkit-text-decoration-thickness: 2px;
}

.promotion {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.promotion img {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    overflow: hidden;
    display: block;
    align-items: center;
    justify-content: center;
}


.promotion .pcontent {
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 0 40px;
    color: #2d2d2b;
    padding-top: 10%;
    
}

.promotion .pcontent h2 {
    color: #2d2d2b;
    text-align: center;
    font-size: 3.1em;
    font-weight: lighter;
    font-family: "Abril Fatface", 'Times New Roman';
    padding-left: 5%;
}


.promotion .pcontent p {
    text-align: center;
    padding-top: 20px;
    font-size: 1.2em;
    font-weight: 40;
    font-family: 'Josefin Sans';
    text-align: center;
    padding-left: 5%;
    color: #252523;
}

button {
	font-family: "Josefin Sans";
	font-weight: 100;
	font-size: 1.15em;
	color: #2d2d2b;
	cursor: pointer;
	transition: all 0.3s ease 0;
	padding: 0.6em 2.25em;
	border-radius: 0.3em;
    margin-top: 3%;
    margin-left: 5%;   
}


.primary-button {
	background-color: #f6f5f0;
	border: none;
}

.primary-button:hover {
	text-decoration: underline solid #c3939e;
	box-shadow: 1px 1px 1px #e7d7c9;
    text-decoration-thickness: 2px;
    -webkit-text-decoration: underline solid #c3939e;
    -webkit-text-decoration-thickness: 2px;
}


.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 150px 50px;
}

.container .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 300px;
    background: #d2c0b6;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    font-family: "Josefin Sans";
    font-weight: lighter;
    font-size: 95%;
}

.container .card:hover {
    height: 400px;
}

.container.card .imgBx {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background-color: #a38f85;
    overflow: hidden;
    border-radius: 12px;
    transition: 0.5s;
}

.container .card:hover .imgBx {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.container .card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.container .card .content {
    position: absolute;
    width: 100%;
    padding: 0 30px;
    top: 252px;
    height: 30px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}

.container .card:hover .content {
    top: 150px;
    height: 250px;
}

.container .card .content h2 {
    font-size: 1.5 em;
    font-weight: 700;
    color: var(--clr);
}

.container .card .content p {
    font-family: 'Josefin Sans';
    font-size: .96em;
    padding-top: 3%;
    line-height: 1.3;
}

footer {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-bottom: 1.3%;
    background: #d2c0b6;
}

.logo2 img {
    display: block;
    margin-top: 35%;
    margin-left: 100%;
    margin-right: auto;
    width: 100px;
    height: auto;
    padding-left: 10px;
    padding-top: 5px;
}

.copyright {
    font-size: small;
    font-weight: 100;
    font-family: 'Josefin Sans', sans-serif;
}

.copyright h3 {
    color: transparent;
}

/* fix copyright to match logo */